Well hello there {{ firstName }}, welcome to CommanD!

This email is just to let you know that your registration has been 
successful, and you may now login to the system.

For future reference, your login email address is:
{{ email }}

With thanks,
The CommanD support team.