Hi there {{ firstName }}, we've just received a request to reset
your CommanD password.

If you did not make this request, don't panic, you can safely
ignore this email and your password will NOT be changed.

If however you do wish to change your password, please enter
the pin number shown below into the application where prompted.

PIN: {{ pin }}

With thanks,
The CommanD support team.